html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

/* 背景 */
#bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* 動画 */
#mv {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* coverでもOK */
  z-index: 1;
  background: transparent;
}

